@import url(reset.css);

.container {
  width: 960px;
  margin: 0 auto;
}
.fon {
  padding: 20px 15px 50px 15px;
  background: url(..//img/ice_2.jpg) repeat-y center;
}
.fon h1 {
  text-align: center;
  color: white;
  border: 6px solid white;
}
.image {
  display: block;
  margin: 0 auto;
  width: 48px;
  height: 48px;
}
.form {
  text-align: center;
}
p {
  color: white;
}
.name {
  font-size: 30px;
}
